html,
body {
    width: 100%;
    height: 100%;
    margin: 10px;
    background: url('/img/star.jpg');
}

.isMe {
    font-weight: bold;
}

.chatWindowLine {
    border-bottom: 1px groove #aaa;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 3px;
    background-color: #ccc;
    color: #000;
}

#chatWindow {
    width: 90%;
    border-radius: 2%;
    position: fixed;
    padding: 5px;
    background-color: rgba(100, 100, 100, .7);
}

#chatLog {
    width: 50%;
    height: 300px;
    background-color: #fff;
    margin-bottom: 5px;
    overflow-y: scroll;
}

#chatInp {
    background-color: #cfc;
    width: 40%;
}
.chatCmd{
    /*buzz lightyear of chatcommand*/
    background-color:#ccf!important;
}

#users {
    right: 3%;
    width: 30%;
    background-color: #aaa;
    color: #000;
    position: absolute;
    top: 3%;
    height:200px;
}

#blockedUser {
    position: relative;
    background-color:#cdd;
    width:49%;
    float:left;
    display:inline-block;
    height:90px;
    overflow-y:scroll;
}

#okayUser {
    position:relative;
    background-color: #cdc;
    width:49%;
    margin-right:1.5%;
    float:left;
    display:inline-block;
    height:90px;
    overflow-y:scroll;
}

#inst {
    padding: 10px;
    right: 3%;
    width: 30%;
    background-color: #aaa;
    background-color: #ccf;
    color: #000;
    position: absolute;
    bottom: 5%;
}

#inst > li > ul > li {
    background-color: #bbe;
}

.sys {
    background-color: #eaa;
}

#nameBox {
    background-color: #ccc;
    padding: 5px;
    border-radius: 3%;
    position: relative;
    width: 50%;
    margin-bottom: 10px;
}
.updates{
    width:90vw;
    height:90vh;
    position:fixed;
    margin: auto auto;
    background-color: #fed;
    color:#000;
    font-family: 'papyrus';
    font-size:larger;
    box-shadow: 4px 4px 7px #000;
    overflow: hidden;
}
.updatesSmall{
    width:0;
    height:0;
}
.menuIconToggle{
    position:relative;
    display:inline-block;
    width:18px;
    height:18px;
    text-align: center;
    font-size:large;
    background-color: #229;
    color:#fff;
    cursor:pointer;
}
.menuIconToggle:hover{
    background-color: #99b;
}
#adminSection{
    padding: 10px;
    top:215px;
    width: 30%;
    background-color: #aaa;
    background-color: #ccf;
    color: #000;
    position: absolute;
    right: 3%;
    float:right;
}
#menuIcons{
    height:22px;
    position: fixed;
    background-color: #fed;
    left:1%;
    top:1%;
    padding:2px;
    z-index:5;
}
#loadScrn{
    position: fixed;
    z-index:99;
    top:0;
    left:0;
    width:100%;
    height:100%;
    width:100vw;
    height:100vh;
    background-color: #000;
}
.pointy{
    cursor:pointer;
}